.FolderIcon {
  width: 2.25rem;
  height: 2.25rem;
  flex-shrink: 0;
  opacity: 0.5;
  transition: color 0.15s ease, opacity 0.15s ease;

  &.emoji {
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

:global(.selected) .FolderIcon {
  opacity: 1;
}

:global(.FolderColumn-item:hover) .FolderIcon {
  opacity: 0.7;
} 